.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 120px;
  font-weight: bolder;
  margin: 0;
}

.text {
  font-size: 30px;
}

.button {
  z-index: 3;
  margin-bottom: 15px;
  padding: 0;
  height: 50px;
  width: 150px;
  background: #121212;
  border-radius: 44px;
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}

.button > a {
  color: #f2f2f2;
  text-decoration: none;
}

.list {
  font-size: 30px;
  /* list-style-type: none; */
}
