.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh auto;
  width: 45rem;
  max-width: 45rem;
}

.logo {
  font-size: 1.25rem;
  background: black;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0px;
  margin-right: 5px;
}

.link-item {
  box-shadow: none;
  text-decoration: none;
  color: black;
  margin: 0.625rem;
  letter-spacing: 0.085em;
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .navbar {
    margin: 2vh auto;
    width: 20rem;
    max-width: 20rem;
    display: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
  .navbar {
    margin: 2vh auto;
    width: 23.4375rem;
    max-width: 23.4375rem;
    display: none;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 768px) {
  .navbar {
    margin: 2vh auto;
    width: 25.875rem;
    max-width: 25.875rem;
  }
}
